<header>
  <div class="header-logo">
  <a href="/"><img src='icon/logo.png'></a>
  </div>
  <ul class="header-menus">
    <li>投稿一覧</li>
    <li>レシピ一覧</li>
</header>

<div class="top-wrapper">
  <div class="container">
    <h1>Baby Care</h1>
    <p>ママとパパの育児をもっとラクにもっと楽しく</p>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', '/signup',　new_user_path, class: 'btn btn-block' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', '#',class: 'btn btn-block' %>
      </div>
    </div>

  </div>
</div>


<footer></footer>
