h1, {
  font-weight: 400;
  font-size: 50px;

}

p, {
  font-size: 15px;
}


.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 150px 0 500px 0;
  background-image: url('icon/youDSC_0057.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FF7F50;
}

.btn {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: #F4A460;
  box-shadow: 10px 10px #FF8C00;

  &:hover {
    color: #fff;
  }
}

header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 25px;
  line-height: 64px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  padding-left: 15px;
  list-style: none;
}

.form-control {
  height: 60px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('icon/youDSC_0057.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .users-new-container {
    padding-top: 120px;

    .form-group {
      margin-bottom: 30px;
      color: #6495ED;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.text-center {
  font-family: arial;
  font-size: 30px;
  color: #6495ED;
}

.navbar-background {
  background-image: url('icon/youDSC_0057.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.navbar-transparent {

}

.navbar-right {
  line-height: 64px;
  font-size: 20px;
  font-weight: normal;
  color: white;
  padding-left: 15px;
  list-style: none;
  padding-top: 20px;

}

.user {
  margin: 300px;
  margin-left: 300px;
  text-align: center;
}

.users-edit-wrapper {
  margin-top: 100px;


}

.row h1 {
  font-size: 30px;
  font-family: arial;
  text-align: center;
  color: #6495ED;
  padding-top: 10px;
}

.profile_right {
  float: right;
}

.profile_left {
  float: left;
}

.btn3 {
  margin-bottom: 10px;
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-image: url('icon/youDSC_0057.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

   .topic-index-single {
     background-color: #fff;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 30px;
     border: 1px solid #e6ecf0;
     border-radius: 3px;
     .topic-author {
       padding-right: 10px;
       padding-left: 10px;
       line-height: 40px;
     }

     .topic-text {
       padding-right: 10px;
       padding-left:  10px;
       line-height: 50px;
     }

     img {
       margin-top: 10px;
       margin-bottom: 20px;
       width: 100%;
     }

     .topic-menu {
       float: right;
       margin-right: 10px;
       border: 1px solid #e6ecf0;
       border-radius: 3px;
     }

   }
}
.comment-title {
  margin-top: 50px;
  margin-left: 30px;
}
.btn4 {
  margin-top: 15px;
}

.recipe-new-wrapper {
  padding-top: 120px;
}

.recipe-index-wrapper {
  padding-top: 70px;
  background-image: url('icon/youDSC_0057.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

 .recipe-index-single {
     background-color: #fff;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 30px;
     border: 1px solid #e6ecf0;
     border-radius: 3px;
     .recipe-author {
       padding-right: 10px;
       padding-left: 10px;
       line-height: 40px;
  }

 .recipe-text {
       padding-right: 10px;
       padding-left:  10px;
       line-height: 50px;
     }

img {
       margin-top: 10px;
       margin-bottom: 20px;
       width: 100%;
     }

.recipe-menu {
       float: right;
     }

   }
}
